@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font:inherit;
}

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-primary: hsl(292, 42%, 14%);
  --clr-secondary: hsl(277, 72%, 59%);
  --clr-primary-light: hsl(275, 100%, 97%);
  --clr-gray: hsl(292, 16%, 49%);


  --fs-400: 16px;
  --fs-600: 21px;

  --font-family: Work Sans;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

html {
  font-size: var(--fs-400);
}

body {
  background-image: url("./assets/images/background-pattern-mobile.svg");
  background-size: 100% 25vh;
  background-repeat: no-repeat;
  background-color: var(--clr-primary-light);

  font-family: "Work Sans";
  font-weight: var(--fw-400);
  font-size: var(--fs-400);
}
@media (min-width: 800px) {
  html {
    font-size: var(--fs-600);
  }

  body {
    background-image: url("./assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100% 40vh;
  }
}

main {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;

}

.info {
  margin-block-start: 9rem;
  margin-inline: 1.4rem;

  max-width: 681px;
  border-radius: 10px;
  padding: 1.5rem;

  box-shadow: 0 0 40px -20px var(--clr-gray);
  background-color: var(--clr-white);
  color: var(--clr-primary);
}

.info__title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3rem;
}

.info__title {
  font-size: 2.5rem;
  font-weight: var(--fw-700);
}

.star {
  width: 1.6rem;
}

.info__detail {
  padding-block: 1.3rem;
  border-bottom: 2px solid var(--clr-primary-light);
}

.info__detail:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding-block-end: 0;
}

.info__summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  font-weight: 600;
  font-size: 1rem;
}


.info__summary:hover,
.info__summary:active,
.info__summary:focus {
  color: var(--clr-secondary);
}

.info__detail-text {
  padding-block-start: 1.4rem;
  font-size: .9rem;
  font-weight: 400;
  color: var(--clr-gray);
  line-height: 1.4;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100vw
}
.attribution {
  font-size: 0.6rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}